@charset "utf-8";

body {
	min-width: 920px;
	background-color: #f3f3f3;
	margin: 0;
	padding: 0;
}
.container {
	width: 900px;
	padding: 0 10px;
	margin: 0 auto;
}
.clearfix::after {
	display: block;
	clear: both;
	content: "";
}
.main-header-block {
	background-color: #3f3f3f;
}
.main-block {
	float: left;
}
.header-navigation {
	float: left;
}
.language-change-block {
	float: left;
}
.nav li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav a {
	text-decoration: none;
}